* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}
.header {
    background-color: #1F2937;
    height: 500px;
}
.header-container-first {

    height: 75px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.header-logo {

    width: 20%;
    height: 75px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.header-logo h1 {
    height: 75px;
    color: #F9FAF8;
    font-size: 30px;
    font-weight: lighter;
}
.header-logo img {
    height: 75px;
    width: auto;
    margin-left: 10px;
    margin-right: 5px;
}
.menu {
    /* background-color: blue; */
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.menu a {
    text-decoration: none;
    color: #E5E7EB;
    margin: 20px;
}
.header-container-second {
    /* background-color:aqua; */
    height: 425px;
    display: flex;
    flex-direction: row;
}
.header-title {
    /* background-color: blueviolet; */
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sub-header-title {
    background-color: #1F2937;
    width: 600px;
}
.header-title .title {
    font-size: 36px;
    color: #F9FAF8;
}
.header-title .describe {
    font-size: 18px;
    color: #E5E7EB;
}

.sub-header-title button {
    margin-top: 5px;
    padding: 10px 35px 10px 35px;
    border: 3px solid #3882F6;
    color: #F9FAF8;
    border-radius: 10px;
    background-color: #3882F6;
}

.header-picture {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-picture img {
    border-radius: 5px;
    height: 350px;
}
.body {
    display: flex;
    flex-direction: column;
}
.body .title {
    font-size: 24px;
}


.body-container-first {
    height: 500px;
    display: flex;
    flex-direction: column;
}
.body-container-first .title {
    
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.body-container-first .title h3 {
    color: #1F2937;
}
.body-container-first .information {
    
    height: 400px;
    display: flex;
    justify-content: center;

}
.info {
    margin: 15px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.info .picture {
    
    height: 200px;
    width: 90%;
    border-radius: 50px;
    border: 2px solid #3882F6;
}
.info .picture img {
    height: 250PX;
    
}
.info .describe {
    text-align: center;
    height: 200px;
    width: 89%;
    margin: 5px;
    margin-top: 15px;
}
.body-container-second .big-text {
    width: 900px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.body-container-second {
    height: 500px;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.body-container-second .big-text p {
    font-size: 24px;
}

.body-container-third {
    
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-container-third .card {
    background-color: #3882F6;
    height: 150px;
    width: 900px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.body-container-third .card-describe {
    color: #F9FAF8;
    
}
.body-container-third button {
    padding: 10px 35px 10px 35px;
    border: 3px solid #F9FAF8;
    color: #F9FAF8;
    background-color: #3882F6;
    border-radius: 10px;
}

.footer {
    height: 100px;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer p {
    color: #E5E7EB;
}
